@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  .container {
    width: 100%;
    height: 100%;
    margin: auto;

    .heading {
      text-align: center;
      padding: 30px 20px;
      max-width: 100%;

      .title {
        font-family: "Figtree-Bold", sans-serif;
        font-weight: 700;
        font-size: 2rem;

        @media (min-width: 768px) {
          font-size: 2.5rem;
        }

        .highlight {
          color: #007f7e; // Teal color (match your image)
        }
      }

      .subtitle {
        font-family: "Nunito-Regular", sans-serif;
        font-size: 1rem;
        margin-top: 10px;
        color: #333;

        @media (min-width: 768px) {
          font-size: 1.125rem;
        }
      }
    }
  }
}



/* Nunito */
@font-face {
  font-family: 'Nunito-Regular';
  src: url('../../public/fonts/Nunito/static/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../../public/fonts/Nunito/static/Nunito-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* Figtree */
@font-face {
  font-family: 'Figtree-Regular';
  src: url('../../public/fonts/Figtree/static/Figtree-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree-Bold';
  src: url('../../public/fonts/Figtree/static/Figtree-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:
    url('../../public/fonts/icomoon/fonts/icomoon.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}